html {
    scroll-behavior: smooth;
}

body {
    text-align: center;
    background-color: chocolate;
    font-weight: 300;
    font-family: sans-serif;
    background: linear-gradient(#03ecfc 10%, #03fc31 100%);
    background-repeat: no-repeat;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}

#Image {
    width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;
}

p {
    font-size: 20px;
    font-family: fantasy;
    font-style: italic;
    line-height: 1.6;
    color: aliceblue;
}

h1 {
    font-size: 20px;
    color: azure;
}

#Welcome {
    font-family: 'Nerko One', cursive;
}

#Bio {
    font-family: 'Nerko One', cursive;
}

.menu {
    font-family: cursive;
    position: fixed;
    top: 0px;
    z-index: 10;
    background-color: white;
    width:100%;
    color: red;
}

.links {
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: cursive;
    font-size: 20px;
    display: inline;
}

.links:hover {
    background-color: dodgerblue;
}

.Article:hover {
    color: fuchsia;
}

.Article {
    line-height: 1.6;
}

.work {
    width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;
}

.auther {
    width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;
}

.name {
    text-shadow: 1px 1px;
    font-size: 20px;
    font-family: fantasy;
    font-style: italic;
    line-height: 1.6;
    color: aliceblue;
}
